<div class="col-10 offset-1">
  <H1>Welcome to my test page!</H1>
      <div class="col-8 offset-1">
        <p>My name is Alan Unruh and I'm learning to code with <%= link_to 'The Firehose Project', 'https://www.thefirehoseproject.com/' %> and this page was built for <b>Quiz #1</b>.</p>
        <p>You can follow along and watch my coding journey via <%= link_to 'my GitHub account', 'https://github.com/alanunruh' %>.</p>
      </div>
</div>